

body {
margin: 0;
padding: 0;
background-image: url(../img/bg.jpg) ;
background-size: 100% 100%;
background-color: #003366;
//background-repeat: repeat-y;
background-repeat: no-repeat;
background-position: center top;
background-attachment: fixed;
}

#page_align {
font-family: Arial, Calibri,  Tahoma;
font-size: 22px;
color: black;
width: 995px;
height: 495px;
background: rgba(255,255,255,.6);
margin: 15px auto;
padding: 0px;

border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-moz-border-radius: 5px;

box-shadow: 0px 2px 5px rgba(0,0,0,.3);
-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.3);
-o-box-shadow: 0px 2px 5px rgba(0,0,0,.3);
-moz-box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

#header{
width: 995px;
height: 35px;
//background: pink;
background: #e570e7;
background: -moz-linear-gradient(top,  #e570e7 0%, #c85ec7 56%, #a849a3 100%);
background: -webkit-linear-gradient(top,  #e570e7 0%,#c85ec7 56%,#a849a3 100%);
background: linear-gradient(to bottom,  #e570e7 0%,#c85ec7 56%,#a849a3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 );

border-top-left-radius: 5px;
border-top-right-radius: 5px;

-webkit-border-radius-top-left: 5px;
-webkit-border-radius-top-right: 5px;
-moz-border-radius-top-left: 5px;
-moz-border-radius-top-right: 5px;
overflow: hidden;
border-bottom: 2px solid #D879C0;
box-shadow: inset  0px -1px 0px rgba(255,255,255,0.2);
}

#header ul{
list-style: none;
float: left;
margin: 0;
padding 0;
}

#header ul li {
float: left;
}

#header ul li a{
text-decoration: none;
padding: 10px 15px;
height: 25px;
display: block;
line-height: 25px;
padding-top: 5px;
}

#header ul li a:hover{
background: purple;
color: #FFF;
//border: solid 1px #000000;
outline: solid 1px #000000;
}

#text{
font-size: 14px;
color: blue;
padding: 10px;
text-align: justify;
}

h1{
color: yellow;
}

#img{
margin-left: 10px;
margin-top: 10px;
position: relative;
}

#img h2{
margin: 0px;
padding: 0px;
font-size: 20px;
margin-left: 210px;
border-bottom: 1px dotted black;
margin-right: 10px;
margin-bottom: 10px;
padding-bottom: 3px;
}

#img p{
margin-left: 210px;
margin-right: 10px;
font-size: 16px;
color: #703865;
}

#img span{
position: absolute;
bottom: 2px;
background: rgba(0,0,0,0.2);
color: white;
width: 195px;
line-height: 30px;
padding-left: 5px;
}

.img{

border-radius: 5px;
box-shadow: 0px  1px 3px rgba(0,0,0,0.6);
float: left;
overflow:hidden;
}

.slr{
clear: both;
}

input[name="name"]{
margin-left: 10px;
height: 30px;
width: 180 px;
border-radius: 3px;
border: 1px solid pink;
box-shadow: none;
transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;

}
input[name="name"]:focus {

outline: none;
box-shadow: 0px 0px 9px black;
height: 100px;
}

