* {
 margin: 0;
 padding: 0;
}
body{
color: red;
}
.select{
color: black;
background-color: yellow;
border: 1px solid red;
font-size: 24px;
margin-left: 70px;
margin-right: 70px;
margin-top: 20px;
padding: 15px;
}
.class{
background-color: orange;
}
.tag{
background-color: brown;
}
.attribute{
background-color: grey;
}
.position{
background-color: green;
}
.other{
background-color: pink;
}
.select:hover{
border: 5px solid red;
}