* {
 margin: 0;
 padding: 0;
}
form{
background-color: pink;
border: 2px solid red;
display: inline-block;
color: yellow;
}
.form[name="FormTwo"{
border: 2px solid pink;
}
.input[name="login"]{
margin: 12px;
padding: 15px;
}

body {
  color: red;
}
h3 {
  color: pink;
}

.input[name="a"]{
padding: 40px;
}