

    *  {
        margin: 0;
        padding: 0;
        outline: none;
    }
    body{
        background:  #193547 ;
        //url("../img/bg.png")
     }

    a{
        text-decoration: none;
    }
    .b3radius{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;

    }
    #page_align{
        width: 1000px;
        margin: 35px auto;
        background: #FFF;
        box-shadow: 0px 1px 3px #000000;
        -webkit-box-shadow: 0px 1px 3px #000000;
        -o-box-shadow: 0px 1px 3px #000000;
        -moz-box-shadow: 0px 1px 3px #000000;
    }


